.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 10px;
  justify-content: center;
  margin-bottom: 15px;
  position: relative;
  &__card {
    width: 200px;
    height: 200px;
  }
}
